@*@model _19T1021111.DomainModels.Product*@
@model _19T1021111.Web.Models.ProductEditModel
@{
    ViewBag.Title = "Cập nhật mặt hàng";
}

<div class="box box-primary">
    <div class="box-header with-border ">
    </div>

    <div class="box-body">
        <form class="form-horizontal" action="~/Product/Save" method="post" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.Product.ProductID)
            <div class="form-group">
                <label class="control-label col-sm-2">Tên mặt hàng:</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Product.ProductName,
                         new { @class = "form-control", @placeholder = "", @autofocus = "autofocus" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Loại hàng:</label>
                <div class="col-sm-10">
                    @Html.DropDownListFor(m => m.Product.CategoryID, SelectListHelper.Categories(), new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Nhà cung cấp:</label>
                <div class="col-sm-10">
                    @Html.DropDownListFor(m => m.Product.SupplierID, SelectListHelper.Suppliers(), new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Đơn vị tính:</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Product.Unit,
                       new { @class = "form-control", @placeholder = "", @autofocus = "autofocus" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Giá hàng:</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Product.Price,
                       new { @class = "form-control", @placeholder = "", @autofocus = "autofocus" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Ảnh minh họa:</label>
                <div class="col-sm-10">
                    <div class="col-sm-10">
                        @if (Model.Product.Photo.Contains("http"))
                        {
                            <img id="photo" style="width:146px;height:154px;border-radius:6px" src="@Model.Product.Photo" />
                        }
                        else
                        {
                            <img id="photo" style="width:146px;height:154px;border-radius:6px" src="~/Images/Products/@Model.Product.Photo" />
                        }
                        @Html.HiddenFor(m => m.Product.Photo)
                        <input type="file" class="form-control" name="uploadPhoto"
                               onchange="document.getElementById('photo').src = window.URL.createObjectURL(this.files[0])" />

                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-save"></i> Lưu dữ liệu
                    </button>
                    <a class="btn btn-warning" href="~/Product">
                        <i class="fa fa-ban"></i> Quay lại
                    </a>
                </div>
            </div>
        </form>
    </div>
    <div class="box-footer text-center">
    </div>
    <script>
        $(document).ready(function () {
            $('form').submit(function (event) {
                event.preventDefault(); // prevent the form from submitting normally

                // get the form data
                var formData = new FormData(this);

                // send the ajax request
                $.ajax({
                    url: '~/Product/Save',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (result) {
                        // handle success
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        // handle error
                    }
                });
            });
        });

    </script>
</div>
<div class="box box-info">
    <div class="box-header with-border ">
        <h3 class="box-title">Thư viện ảnh</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr class="bg-gray">
                    <th>Ảnh</th>
                    <th>Mô tả/tiêu đề</th>
                    <th>Thứ tự hiển thị</th>
                    <th>Ẩn ảnh</th>
                    <th class="text-right">
                        <a class="btn btn-xs btn-primary" href="~/Product/Photo/add/@Model.Product.ProductID">
                            <i class="fa fa-plus"></i>
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Photos)
                {
                    <tr>
                        <td style="vertical-align:middle">
                            <img src="~/Images/Products/Photos/@item.Photo" alt="" style="width:100px" />
                        </td>
                        <td style="vertical-align:middle;">@item.Description
                        </td>
                        <td style="vertical-align:middle;">@item.DisplayOrder</td>
                        <td style="vertical-align:middle;">@item.IsHidden</td>
                        <td style="vertical-align:middle; text-align:right">
                            <a class="btn btn-xs btn-primary" href="~/Product/photo/edit/@item.ProductID/@item.PhotoID">
                                <i class="fa fa-edit"></i>
                            </a>
                            <a class="btn btn-xs btn-danger" href="~/Product/Photo/delete/@item.ProductID/@item.PhotoID" onclick="return confirm('Xóa ảnh của mặt hàng hay không?')">
                                <i class="fa fa-trash-o"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="box-footer text-center">
    </div>

</div>

<div class="box box-success">
    <div class="box-header with-border ">
        <h3 class="box-title">Thuộc tính của mặt hàng</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>

    <div class="box-body">
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr class="bg-gray">
                    <th>Tên thuộc tính</th>
                    <th>Giá trị thuộc tính</th>
                    <th>Thứ tự hiển thị</th>
                    <th class="text-right">
                        <a class="btn btn-xs btn-primary" href="~/product/attribute/add/@Model.Product.ProductID">
                            <i class="fa fa-plus"></i>
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Attributes)
                {
                    <tr>
                        <td style="vertical-align:middle">@item.AttributeName</td>
                        <td style="vertical-align:middle;">@item.AttributeValue</td>
                        <td style="vertical-align:middle;">@item.DisplayOrder</td>
                        <td style="vertical-align:middle; text-align:right">
                            <a class="btn btn-xs btn-primary" href="~/Product/Attribute/edit/@item.ProductID/@item.AttributeID">
                                <i class="fa fa-edit"></i>
                            </a>
                            <a class="btn btn-xs btn-danger" href="~/Product/Attribute/delete/@item.ProductID/@item.AttributeID" onclick="return confirm('Xóa thuộc tính này của mặt hàng?')">
                                <i class="fa fa-trash-o"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="box-footer text-center">
    </div>
    <script>
        const fileInput = document.getElementById("fileInput");
        const preview = document.getElementById("preview");

        fileInput.addEventListener("change", function () {
            const file = this.files[0];
            const reader = new FileReader();

            reader.addEventListener("load", function () {
                preview.src = reader.result;
                preview.style.display = "block";
            });

            reader.readAsDataURL(file);
        });
    </script>
</div>