@model _19T1021111.Web.Models.ProductSearchOutput
@{
    Layout = null;
    int page = Model.Page;
    int previousPage = page <= 1 ? 1 : page - 1;
    int nextPage = page + 1;
}
<p>Có <strong>@Model.RowCount</strong> mặt hàng trong tổng số <strong>@Model.PageCount</strong> trang</p>
<table class="table table-bordered table-hover">
    <thead>
        <tr class="bg-primary">
            <th style="width:80px">Ảnh</th>
            <th>Tên mặt hàng</th>
            <th>Đơn vị tính</th>
            <th>Giá</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Data)
        {


            <tr>
                @if (item.Photo.Contains("http"))
                {
                    <td><img src="@item.Photo" style="width:50px;height:50px" /></td>
                }
                else
                {
                    <td><img src="Images/Products/@item.Photo" style="width:50px;height:50px" /></td>
                }
                <td>@item.ProductName</td>
                <td>@item.Unit</td>
                <td>@item.Price</td>
                <td class="text-center">
                    <a href="~/Product/Edit/@item.ProductID" class="btn btn-sm bg-success" title="Sửa"><i class="glyphicon glyphicon-edit"></i></a>
                    <a href="~/Product/Delete/@item.ProductID" class="btn btn-sm bg-danger" title="Xoá"><i class="glyphicon glyphicon-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="text-center">
    <ul class="pagination">
        <li class="previous"><a href="javascript:;" onclick="doSearch(@previousPage)"><i class="fa fa-backward"></i></a></li>
        @for (int i = 1; i <= Model.PageCount; i++)
        {
            if (i == Model.Page)
            {
                <li class="active"><a href="#">@i</a></li>
            }
            else
            {
                <li><a fref="javascript:;" onclick="doSearch(@i)">@i</a></li>
            }
        }
        <li class="next"><a href="javascript:;" onclick="doSearch(@nextPage)"><i class="fa fa-forward"></i></a></li>
    </ul>
</div>