@model _19T1021111.Web.Models.CustomerSearchOutPut
@{
    Layout = null;
    int page = Model.Page;
    int previousPage = page <= 1 ? 1 : page - 1;
    int nextPage = page + 1;
}
<p>Có <strong>@Model.RowCount</strong> khách hàng trong tổng số <strong>@Model.PageCount</strong> trang</p>
<table class="table table-bordered table-hover">
    <thead>
        <tr class="bg-primary">
            <th>Tên khách hàng</th>
            <th>Tên liên lạc</th>
            <th>Địa chỉ</th>
            <th>Quốc gia</th>
            <th>Thành phố</th>
            <th>Mã bưu chính</th>
            <th>Email</th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Data)
        {
            <tr>
                <td>@item.CustomerName</td>
                <td>@item.ContactName</td>
                <td>@item.Address</td>
                <td>@item.Country</td>
                <td>@item.City</td>
                <td>@item.PostalCode</td>
                <td>@item.Email</td>
                <td class="text-right">
                    <a href="~/Customer/Edit/@item.CustomerID" class="btn btn-sm bg-success" title="Sửa"><i class="glyphicon glyphicon-edit"></i></a>
                    <a href="~/Customer/Delete/@item.CustomerID" class="btn btn-sm bg-danger" title="Xoá"><i class="glyphicon glyphicon-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="text-center">
    <ul class="pagination">
        <li class="previous"><a href="javascript:;" onclick="doSearch(@previousPage)"><i class="fa fa-backward"></i></a></li>
        @for (int i = 1; i <= Model.PageCount; i++)
        {
            if (i == Model.Page)
            {
                <li class="active"><a href="#">@i</a></li>
            }
            else
            {
                <li><a fref="javascript:;" onclick="doSearch(@i)">@i</a></li>
            }
        }<li class="next"><a href="javascript:;" onclick="doSearch(@nextPage)"><i class="fa fa-forward"></i></a></li>
    </ul>
</div>
